
* {
margin: 0;
padding: 0;
border: none;
outline: 0;
}

h2, p {
  color: black;
  font-family: 'Verdana';
  text-align: center;
}

footer {
  color: gray;
  margin-top: 50px;
  margin-left:80%;
}

.titles {
  background: white;
  color: gray;
}

.flexbox-users {
  background: white;
  color: gray;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  background: #4AB9E2;
  color: gray;
}
